<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style type="text/css">
        .header {
            padding: 2.5rem 0.5rem 2rem 0.5rem;
        }
    </style>
</head>
<body>

	<img src="../img/payhead.gif" width="100%" height="140">
	</hr>
	
	<div class="aui-content aui-margin-b-15">
	<form id="formId" action="">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                       	<span>缴费号</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id ="paycost_num" type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;输入缴费号">
                    </div>
                    <button class="aui-btn aui-btn-info aui-margin-r-5" type="button" onclick="selectPayInfo()">查找</button>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>学校</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="schoolInfo">
                            <option value="">请选择学校</option>
                            <option th:each="s:${schoolList}" th:value="${s.school_id}+'-'+${s.school_area_id}" th:text="${s.school_name}+'-'+${s.area_name}">
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>院系名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="academyInfo">
					       	<!-- <option value="">请选择</option> -->
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>专业名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id='prfInfo'>
					       	<!-- <option value="">请选择</option>-->
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>班级名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="classNum" type="number" placeholder="输入班级名称">
                    </div>
                    
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>费用类型</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="costType">
                        	
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>金额￥</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="costMoney" type="number" placeholder="缴费金额">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>姓名</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id=studentName type="text" placeholder="输入姓名">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>备注</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="remark" type="text" placeholder="手机号/贷款生/贫困生">
                    </div>
                </div>
            </li>
            
            <!--  
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        Radio
                    </div>
                    <div class="aui-list-item-input">
                        <label><input class="aui-radio" type="radio" name="demo1" checked=""> 选项一</label>
                        <label><input class="aui-radio" type="radio" name="demo1"> 选项二</label>
                    </div>
                </div>
            </li>
            -->
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                    <!-- <div class="aui-btn aui-btn-info aui-btn-block aui-margin-r-5">创建账单</div> -->
                    <button class="aui-btn-info aui-btn-block aui-margin-r-5" type="button" onclick="req()">创建账单</button>
                </div>
            </li>
        </ul>
        </form>
    </div>
    
    
	<script type="text/javascript">

	$(document).ready(function(){ 
		
		
		//显示学院列表
	    $("#schoolInfo").change(function(){ 
	       var id = $("#schoolInfo").val(); 
	       //alert(id);
	       if(id !=""){
	    	   $.ajax({ 
	    		   url:'/page/academy', 
                   async:false, 
	    		   type:'post', 
	    		   data:{id:id}, 
                       success:function(data){ 
                    	   //alert(data.length);
                           var t2 = $("#academyInfo").empty();
                           var t3 = $("#prfInfo").empty();
                           t2.append("<option value=\"\">请选择</option>"); 
                           t3.append("<option value=\"\">请选择</option>"); 
                           for ( var i = 0; i < data.length; i++) { 
                               t2.append("<option value='"+data[i].academy_id+"'>"+ data[i].academy_name+"</option>"); 
                           } 
                           
                       } 
	    		   }) 
	    	}; 
	    });
	    
	    $("#academyInfo").change(function(){ 
	    	   var id = $("#schoolInfo").val(); 
		       var academyId = $("#academyInfo").val(); 
		       if(academyId !=""){
		    	 //显示专业列表
		    	   $.ajax({ 
		    		   url:'/page/professional', 
	                   async:false, 
		    		   type:'post', 
		    		   data:{id:id,aid:academyId}, 
	                       success:function(data){ 
	                    	   //alert(data.length);
	                           var t2 = $("#prfInfo").empty();
	                           t3.append("<option value=\"\">请选择</option>");
	                           for ( var i = 0; i < data.length; i++) { 
	                               t2.append("<option value='"+data[i].professional_id+"'>"+ data[i].prf_name+"</option>"); 
	                           } 
	                       } 
		    		   })
		    		 
		    		}; 
	       });
	    
	    $("#prfInfo").change(function(){ 
	    	   var pid = $("#prfInfo").val(); 
		       if(pid !=""){
		    	 //显示缴费类型列表
		    	   $.ajax({ 
		    		   url:'/page/costType', 
	                   async:false, 
		    		   type:'post', 
		    		   data:{pid:pid}, 
	                       success:function(data){ 
	                    	   //alert(data.length);
	                           var t4 = $("#costType").empty();
	                           t4.append("<option value=\"\">请选择</option>");
	                           for ( var i = 0; i < data.length; i++) { 
	                               t4.append("<option value='"+data[i].cost_id+"-"+data[i].money+"'>"+ data[i].cost_name+"</option>"); 
	                           } 
	                           
	                       } 
		    		   })
		    		 
		    		}; 
	       });
	    
	    $("#costType").change(function(){ 
	    	   var pid = $("#costType").val(); 
	    	   //value: id_money
	    	   $("#costMoney").val(pid.split("-")[1]);
	       });

	})
	
	function selectPayInfo(){
		var num = $("#paycost_num").val();
		//alert(num);
		//清空表单
		//$('#formId')[0].reset();
		//$("#schoolInfo").find("option:contains('10000-1')").attr("selected",true);
		$.ajax({ 
 		   url:'/page/costDetail', 
           async:false, 
 		   type:'post', 
 		   data:{num:num}, 
                success:function(data){ 
             	   //alert(data.length);
                   
                   $("#paycost_num").val(num);
                   //$("#schoolInfo").val(data.school_id);
                   //学校-校区
                   $("#schoolInfo").val(data.school_id+"-"+data.school_area_id);
                   //学院
                   $("#academyInfo").empty();
                   $("#academyInfo").append("<option value='"+data.academy_id+"'>"+ data.academy_name+"</option>"); 
                   //专业
                   $("#prfInfo").empty();
                   $("#prfInfo").append("<option value='"+data.professional_id+"'>"+ data.prf_name+"</option>"); 
                   //班级
                   $("#classNum").attr("readOnly",true);
                   $("#classNum").val(data.class_num);
                   //缴费项目
                   $("#costType").empty();
                   $("#costType").append("<option value='"+data.cost_id+"-"+data.money+"'>"+ data.cost_name+"</option>"); 
                   //金额
                   $("#costMoney").attr("readOnly",true);
                   $("#costMoney").val(data.money);
                   //学生姓名
                   $("#studentName").attr("readOnly",true);
                   $("#studentName").val(data.student_name);
                   
                   
                } 
 		   })
 		   
 		   
	}
	
	function req(){
	    	
	    //alert("数据处理");
	    var schoolName = $("#schoolInfo").val(); 
	    var academyName = $("#academyInfo").val(); 
	    var prfName = $("#prfInfo").val(); 
	    var classNum = $("#classNum").val(); 
	    var costType = $("#costType").val(); 
	    var costMoney = $("#costMoney").val(); 
	    var studentName = $("#studentName").val(); 
	    var remark = $("#remark").val(); 
		//$("#remark").val(remark + "|" + schoolName + "|" + academyInfo +"|"+ prfInfo +"|"+ classNum +"|"+ costType +"|"
		//		+ costMoney +"|"+ studentName);
		alert(remark + "|" + schoolName + "|" + academyName +"|"+ prfName +"|"+ classNum +"|"+ costType +"|"
		+ costMoney +"|"+ studentName);
	}
	</script>
    
</body>


</html>