<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style type="text/css">
        .header {
            padding: 2.5rem 0.5rem 2rem 0.5rem;
        }
    </style>
</head>
<body>

	<img src="../img/payhead.gif" width="100%" height="140">
	</hr>
	
	<div class="aui-content aui-margin-b-15">
	<form action="">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                       	<span>缴费号</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id ="paycost_num" th:value="${payDetail.paycost_num}" type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;输入缴费号">
                    </div>
                    <div class="aui-btn aui-btn-info aui-margin-r-5">查找</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>学校</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="schoolInfo">
                            <option value="">请选择学校</option>
                            <option th:each="s:${schoolList}" th:value="${s.school_id}+'-'+${s.school_area_id}" th:text="${s.school_name}+'-'+${s.area_name}">
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>院系名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="academyInfo">
					       	<option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>专业名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id='prfInfo'>
					       	<option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>班级名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="number" placeholder="输入班级名称">
                    </div>
                    
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>费用类型</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select>
					       	<option value="">请选择</option>
					        <option value="12364">学费</option>
					        <option value="12364">住宿费</option>
					        <option value="12364">重修费</option>
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>金额</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="number" placeholder="缴费金额">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>姓名</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="输入姓名">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>备注</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="text" placeholder="手机号/贷款生/贫困生">
                    </div>
                </div>
            </li>
            
            <!--  
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        Radio
                    </div>
                    <div class="aui-list-item-input">
                        <label><input class="aui-radio" type="radio" name="demo1" checked=""> 选项一</label>
                        <label><input class="aui-radio" type="radio" name="demo1"> 选项二</label>
                    </div>
                </div>
            </li>
            -->
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                    <div class="aui-btn aui-btn-info aui-btn-block aui-margin-r-5">创建账单</div>
                </div>
            </li>
        </ul>
        </form>
    </div>
    
    
	<script type="text/javascript">
	$(document).ready(function(){ 
	    $("#schoolInfo").change(function(){ 
	       var id = $("#schoolInfo").val(); 
	       if(id !=null){
	    	   $.ajax({ 
	    		   url:'/page/academy', 
                   async:false, 
	    		   type:'post', 
	    		   data:{id:id}, 
                       success:function(data){ 
                    	   //alert(data.length);
                           var t2 = $("#academyInfo").empty();
                           for ( var i = 0; i < data.length; i++) { 
                               t2.append("<option value='"+data[i].academy_id+"'>"+ data[i].academy_name+"</option>"); 
                           } 
                           
                       } 
	    		   }) 
	    		}; 
	       });
	    
	    $("#academyInfo").change(function(){ 
		       var academyId = $("#academyInfo").val(); 
		       if(academyId !=null){
		    	   alert(academyId);
		    	   $.ajax({ 
		    		   url:'/page/prf', 
	                   async:false, 
		    		   type:'post', 
		    		   data:{aid:aid}, 
	                       success:function(data){ 
	                    	   //alert(data.length);
	                           var t2 = $("#prfInfo").empty();
	                           for ( var i = 0; i < data.length; i++) { 
	                               t2.append("<option value='"+data[i].academy_id+"'>"+ data[i].academy_name+"</option>"); 
	                           } 
	                           
	                       } 
		    		   })
		    		 
		    		}; 
		       });
	    
	    
	})
	</script>
    
</body>


</html>