<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style type="text/css">
        .header {
            padding: 2.5rem 0.5rem 2rem 0.5rem;
        }
    </style>
    <title>校园智能缴费</title>
</head>
<body>

	<img src="../img/payhead.gif" width="100%" height="140">
	</hr>
	
	<div class="aui-content aui-margin-b-15">
	<form id="formId" action="">
        <ul class="aui-list aui-form-list">
        <li class="aui-list-header">

         </li>
          <li class="aui-list-item aui-hide">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                       	<span>商户id</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id ="bid" type="text" th:value="${bid}">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                       	<span>缴费号</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id ="payNo" type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;缴费号">
                    </div>
                    <button class="aui-btn aui-btn-info aui-margin-r-5" type="button" onclick="selectPayInfo()">查找</button>
                </div>
            </li>
            
         <div id ="inputInfo" style="display:none;">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>学校</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="schoolInfo">
                            <!-- <option value="">请选择学校</option> -->
                            <!-- <option th:each="s:${schoolList}" th:value="${s.dept_id}" th:text="${s.dept_name}"> -->
                            <option th:value="${dept.dept_id}" th:text="${dept.dept_name}"> 
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>校区</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="areaInfo">
                            <!--  <option value="">请选择校区</option>-->
                            
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>院系名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="academyInfo">
					       	<!-- <option value="">请选择</option> -->
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>专业名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id='prfInfo'>
					       	<!-- <option value="">请选择</option>-->
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>班级名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id='classNum'>
					       	<!-- <option value="">请选择</option>-->
                        </select>
                    </div>
                </div>
            </li>
            
            <!-- <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>班级名称</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="classNum" type="number" placeholder="输入班级名称">
                    </div>
                    
                </div>
            </li>
             -->
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>缴费项目</span>
                    </div>
                    <div class="aui-list-item-input">
                        <select id="costType">
                        	
                        </select>
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>金额￥</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="costMoney" type="number" placeholder="缴费金额">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>姓名</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id=studentName type="text" placeholder="输入姓名">
                    </div>
                </div>
            </li>
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        <span>备注</span>
                    </div>
                    <div class="aui-list-item-input">
                        <input id="remark" type="text" placeholder="手机号/贷款生/贫困生">
                    </div>
                </div>
            </li>
            
            <!--  
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">
                        Radio
                    </div>
                    <div class="aui-list-item-input">
                        <label><input class="aui-radio" type="radio" name="demo1" checked=""> 选项一</label>
                        <label><input class="aui-radio" type="radio" name="demo1"> 选项二</label>
                    </div>
                </div>
            </li>
            -->
            
            <li class="aui-list-item">
                <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
                    <!-- <div class="aui-btn aui-btn-info aui-btn-block aui-margin-r-5">创建账单</div> -->
                    <button class="aui-btn-info aui-btn-block aui-margin-r-5" type="button" onclick="req()">创建账单</button>
                </div>
            </li>
          </div>  
          
        </ul>
        </form>
    </div>
    
    
	<script type="text/javascript">

	$(document).ready(function(){ 
		
		function reqOrgList(pid,t){
			if(pid !=""){
		    	   $.ajax({ 
		    		   url:'/page/relevance', 
	                   async:false, 
		    		   type:'post', 
		    		   data:{pid:pid}, 
	                       success:function(data){ 
	                    	   //alert(data.length);
	                           t.append("<option value=\"\">请选择</option>"); 
	                           for ( var i = 0; i < data.length; i++) { 
	                               t.append("<option value='"+data[i].dept_id+"'>"+ data[i].dept_name+"</option>"); 
	                           } 
	                           
	                       } 
		    		   }) 
		    	};
		}
		
		function reqCostList(orgId,t){
			if(orgId !=""){
		    	   $.ajax({ 
		    		   url:'/page/costType', 
	                   async:false, 
		    		   type:'post', 
		    		   data:{orgId:orgId}, 
	                       success:function(data){
	                    	   if(data != null && data !=""){
	                    		   t.append("<option value=\"\">请选择</option>"); 
		                           for ( var i = 0; i < data.length; i++) { 
		                               t.append("<option value='"+ data[i].id+ "_"+ data[i].pay_single_money +"'>"+ data[i].name+"</option>"); 
		                           } 
	                    	   }
	                       } 
		    		   }) 
		    	};
		}
		
		//显示学院列表
	    $("#schoolInfo").change(function(){ 
	       var pid = $("#schoolInfo").val(); 
	       var t1 = $("#areaInfo").empty();
	       reqOrgList(pid,t1);
	    });
	    
	    $("#areaInfo").change(function(){ 
		       var pid = $("#areaInfo").val(); 
		       var t2 = $("#academyInfo").empty();
		       reqOrgList(pid,t2); 
	       });
		
	    $("#academyInfo").change(function(){ 
	    	   var pid = $("#academyInfo").val(); 
	    	   var t3 = $("#prfInfo").empty();
	    	   reqOrgList(pid,t3);
	       });
	    //
	    $("#prfInfo").change(function(){ 
	    	
	    	   var pid = $("#prfInfo").val(); 
	    	   var t4 = $("#classNum").empty();
	    	   reqOrgList(pid,t4);
	    	   var orgId = $("#prfInfo").val(); 
	    	   var t5 = $("#costType").empty();
	    	   reqCostList(orgId,t5);
	       });
	    
	    $("#costType").change(function(){ 
	    	   var costId = $("#costType").val(); 
	    	   $("#costMoney").val(costId.split("_")[1]);
	    	   $("#costMoney").attr("readOnly",false);
               $("#remark").attr("readOnly",false);
	       });

	})
	
	function selectPayInfo(){
		var payNo = $("#payNo").val();
		if("" == payNo || null == payNo ){
			alert("缴费号不能为空.");
		}else{
			$.ajax({ 
		 		   url:'/page/payDetail', 
		           async:false, 
		 		   type:'post', 
		 		   data:{payNo:payNo}, 
		                success:function(data){
		                	if(null == data || "" == data){
		                		$("#inputInfo").css("display","none");
		                		alert("无 "+payNo+" 缴费号相关信息或已完成缴费,请确认后输入.");
		                	}else{
		                		
		                		  //显示输入信息
		                		  $("#inputInfo").css("display","");
		                		
				                   //$("#payNo").val(num);
				                   //$("#schoolInfo").val(data.school_id);
				                   
				                 //缴费项目
				                   t6 = $("#costType").empty();
				                   t6.append("<option value=\"\">请选择</option>"); 
		                           for ( var i = 0; i < data.length; i++) { 
		                               t6.append("<option value='"+data[i].id + "_"+ data[i].money +"'>"+ data[i].project_name+"(已缴"+data[i].already_pay+"/总共"+data[i].pay_money+")</option>"); 
		                           }
				                   //学生姓名
				                   $("#studentName").attr("readOnly",true);
				                   $("#studentName").val(data[0].per_name);
				                   
				                   $("#costMoney").attr("readOnly",true);
				                   $("#remark").attr("readOnly",true);
				                   
				                   var orgId = data[0].organ_no;
				                   $.ajax({ 
				    		 		   url:'/page/payDetailOrg', 
				    		           async:false, 
				    		 		   type:'post', 
				    		 		   data:{orgId:orgId}, 
				    		                success:function(data){
				    		                	//alert(data.length);
				    		                	var input=new Array("#classNum","#prfInfo","#academyInfo","#areaInfo","#schoolInfo");
				    		                	var len = input.length;
				    		                	//$("#schoolInfo").val(data[3].dept_id);
				    		                	for(i = data.length-1; i>=0 ; i-- ){
				    		                		if(i == data.length-1){
				    		                			len--;
				    		                			$(input[len]).val(data[i].dept_id);
				    		                		}else{
				    		                			len--;
				    		                			$(input[len]).empty;
				    		                			$(input[len]).append("<option value='"+data[i].dept_id+"'>"+ data[i].dept_name+"</option>"); 
				    		                		}
				    		                	}
				    		                }
				    		      })
				    		      t6 = $("#costMoney").val("");
				                   
		                	}
		             	   
		                } 
		 		   })
		}
 		   
	}
	
	function req(){
	    
		var payNo = $("#payNo").val();
		if("" == payNo || null == payNo ){
			alert("缴费号 不能为空.");
		}else if($("#costMoney").val() > $("#costType").val().split("_")[1]){
			alert("输入金额错误..");
			//return ;
		}else{
			var subject= $("#studentName").val() + "|" 
			//+ $("#schoolInfo option:selected").text()+"|" 
			//+ $("#areaInfo option:selected").text() +"|" 
			//+ $("#academyInfo option:selected").text() +"|"
			//+ $("#prfInfo option:selected").text()  +"|" 
			+ ($("#costType option:selected").text()).split("(")[0]  +"|" 
			+ $("#classNum option:selected").text() +"|" 
			+ $("#costMoney").val() +"|"
			+ $("#payNo").val();
			
			costId = $("#costType").val();
			var localNo= costId.split("_")[0];
			var amount= $("#costMoney").val()*100; 
			var remark = $("#remark").val();
			
			var bid = $("#bid").val();
			$.ajax({ 
				   url:'/page/sign', 
			       async:false, 
				   type:'post', 
				   //dataType:'json',
				   data:{bid:bid,amount:amount,subject:subject,remark:remark,localNo:localNo}, 
			       success:function(data){      
			    	   if(null == data || "" == data ){
			    		   alert("未知商户.");
			    	   }else if("1" == data){
			    		   alert("该缴费项目已支付完成，请刷新页面后确认.");  
			    	   }else{
			    		   window.location.href=data;  
			    	   }
			       } 
			})
		}
		
		
		
	}
	</script>
    
</body>


</html>