<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AcademyInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.AcademyInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="academy_id" jdbcType="INTEGER" property="academy_id" />
    <result column="school_id" jdbcType="INTEGER" property="school_id" />
    <result column="school_area_id" jdbcType="INTEGER" property="school_area_id" />
    <result column="academy_name" jdbcType="VARCHAR" property="academy_name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <!-- 查询学院列表 -->
  <select id="getAcademyList" resultType="com.example.demo.pojo.AcademyInfo" >
	     SELECT
			a.academy_id,
			a.academy_name
		FROM
			fkr_academy_info a
		WHERE
			a.school_id = #{school_id} and a.school_area_id=#{school_area_id}
	</select>
  
</mapper>