<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="dept_id" jdbcType="INTEGER" property="dept_id" />
    <result column="parent_id" jdbcType="INTEGER" property="parent_id" />
    <result column="dept_name" jdbcType="VARCHAR" property="dept_name" />
    <result column="order_num" jdbcType="INTEGER" property="order_num" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_by" jdbcType="VARCHAR" property="update_by" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  
    
  <!-- 查询机构列表信息 -->
	<select id="getOrgListByPId" parameterType="java.lang.String" resultType="com.example.demo.pojo.Dept">
	    SELECT
			dept_id,
			dept_name
		FROM
			sys_dept d
		WHERE
			d.parent_id = #{pid}
	</select>
	
	<!-- 查询机构列表信息 -->
	<select id="getOrgInfoById" parameterType="java.lang.Integer" resultType="com.example.demo.pojo.Dept">
   	    SELECT
			d.dept_id,
      		d.parent_id ,
			d.dept_name
		FROM
			sys_dept d

		WHERE
			d.dept_id = #{orgId}
	</select>
	
</mapper>