<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PayInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.PayInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pay_no" jdbcType="VARCHAR" property="pay_no" />
    <result column="pay_project_id" jdbcType="VARCHAR" property="pay_project_id" />
    <result column="pay_money" jdbcType="DOUBLE" property="pay_money" />
    <result column="already_pay" jdbcType="DOUBLE" property="already_pay" />
    <result column="is_pay_over" jdbcType="VARCHAR" property="is_pay_over" />
    <result column="pay_over_time" jdbcType="TIMESTAMP" property="pay_over_time" />
    <result column="pay_content" jdbcType="VARCHAR" property="pay_content" />
    <result column="pay_years" jdbcType="VARCHAR" property="pay_years" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
	
	<!-- 查询支付信息并加锁 -->
	<select id="getPayInfoByIdLock" parameterType="java.lang.String" resultType="com.example.demo.pojo.PayInfo">
		SELECT
			i.id,
			i.pay_no,
			i.pay_project_id,
			i.pay_money,
			i.already_pay,
			i.is_pay_over,
			i.pay_over_time,
			i.pay_content,
			i.pay_years,
			i.remark,
			i.create_time
		FROM
			pay_info i
		WHERE
			i.id = #{id} for update;
	</select>
	
</mapper>