<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PayMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Pay">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="business_id" jdbcType="VARCHAR" property="business_id" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>