<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PaySecretkeyInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.PaySecretkeyInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="business_id" jdbcType="VARCHAR" property="business_id" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="operator_id" jdbcType="VARCHAR" property="operator_id" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirect_url" />
    <result column="app_key" jdbcType="VARCHAR" property="app_key" />
  </resultMap>
</mapper>