<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProfessionalMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Professional">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="professional_id" jdbcType="INTEGER" property="professional_id" />
    <result column="prf_name" jdbcType="VARCHAR" property="prf_name" />
    <result column="school_id" jdbcType="INTEGER" property="school_id" />
    <result column="school_area_id" jdbcType="INTEGER" property="school_area_id" />
    <result column="academy_id" jdbcType="INTEGER" property="academy_id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
    <!-- 查询专业列表 -->
	<select id="getPrfList" resultType="com.example.demo.pojo.Professional" >
       SELECT
			p.professional_id,
			prf_name
		FROM
			fkr_professional p 
		WHERE
			p.school_id = #{school_id} and p.school_area_id=#{school_area_id} and academy_id=#{academy_id}
	</select>
  

</mapper>