<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SchoolInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.SchoolInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="school_id" jdbcType="INTEGER" property="school_id" />
    <id column="school_area_id" jdbcType="INTEGER" property="school_area_id" />
    <result column="school_name" jdbcType="VARCHAR" property="school_name" />
    <result column="area_name" jdbcType="VARCHAR" property="area_name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <!-- 查询学校列表 -->
	<select id="getSchoolList" resultType="com.example.demo.pojo.SchoolInfo" 
										 parameterType="java.lang.String" >
	     SELECT
			school_id ,
			school_area_id ,
			school_name ,
			area_name 
		FROM
			fkr_school_info
	</select>
</mapper>