<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SecretkeyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Secretkey">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="app" jdbcType="VARCHAR" property="app" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="key" jdbcType="VARCHAR" property="key" />
  </resultMap>
</mapper>